<template>
    <div id="bike-table">
        <table>
            <thead>
            <tr>
                <th>Pysäkin nimi</th>
                <th>Tyhjät paikat</th>
                <th>Vapaat pyörät</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(station,index) in stations" :key="index">
                <td>{{ station.name }}</td>
                <td>{{ station.empty_slots }}</td>
                <td>{{ station.free_bikes }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "BikeTable",
        data() {
            return {
                stations: []
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            async getData() {
                const response = await fetch("http://api.citybik.es/v2/networks/citybikes-helsinki");
                const data = await response.json();
                this.stations = data.network.stations;
            }
        }
    }
</script>

<style scoped>

</style>