<template>
    <div id="bike-map">
        <div id="map">
        </div>
    </div>
</template>

<script>
    import L from 'leaflet';
    import Nominatim from 'nominatim-geocoder';
    import Geocoder from 'leaflet-control-geocoder'
    import Router from 'leaflet-routing-machine'

    console.log('leaflet', L)
    console.log('nominatim-geocoder', Nominatim)
    console.log('leaflet-control-geocoder', Geocoder)
    console.log('leaflet-routing-machine', Router)

    export default {
        name: "BikeMap",
        data() {
            return {
                stations: [],
                map: null,
                zoom: 11,
                center: [60.2460470, 24.8943518],
                url: 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png',
                icon: null,
                markersVisible: true,
                route: [],
            }
        },
        mounted() {
            this.initMap();
            this.getData();
            this.initIcon();
        },
        methods: {
            initMap() {
                this.map = L.map('map').setView(this.center, this.zoom);
                this.tileLayer = L.tileLayer(this.url, {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                });
                this.tileLayer.addTo(this.map);
            },
            initIcon() {
                this.icon = L.divIcon()
            },
            async getData() {
                const response = await fetch("http://api.citybik.es/v2/networks/citybikes-helsinki")
                const data = await response.json();
                this.addMarkers(data.network.stations)
            },
            addMarkers(stations) {
                stations.forEach(station => {
                    const lat = station.latitude
                    const lng = station.longitude
                    station.marker = L.marker([lat, lng], this.icon)
                    .addTo(this.map)
                        .bindPopup(`<strong>${station.name}</strong><br>Pyöriä saatavilla: ${station.free_bikes}<br>Paikkoja vapaana: ${station.empty_slots}`)
                        .on('popupopen', () => {
                            this.route[0] =L.latLng(lat, lng)
                            this.$emit('popup', station)
                        })
                        .on('popupclose', () => {
                            this.route[0] = null
                            this.$emit('popup', null)
                        })
                    this.stations.push(station)
                })
            },
            toggleMarkers() {
                this.stations.forEach(station => {
                    if(this.markersVisible)
                        station.marker.removeFrom(this.map)
                    else
                        station.marker.addTo(this.map)
                })
                this.markersVisible = !this.markersVisible
            },
            setDestination(address) {
                L.Control.Geocoder.nominatim().geocode(address, results => {
                    const center = results[0].center
                    this.route[1] = L.latLng(center.lat, center.lng)
                    this.drawRoute()
                })
            },
            drawRoute() {
                const origin = this.route[0]
                const destination = this.route[1]
                if(origin !== null && destination !== null) {
                    this.toggleMarkers()
                    L.Routing.control({
                        waypoints: [origin, destination]
                    }).addTo(this.map)
                }
            }
        }
    }
</script>

<style scoped>
    #map {
        height: 600px;
        width: 70%;
        float: left;
    }

</style>