<template>
    <div id="route-form">
        <div id="route">
            <form @submit.prevent="confirmDestination">
                <h1>Reitti</h1>
                <p>{{origin != null ? origin.name : 'Valitse lähtöasema'}}</p>
                <p>
                    <input placeholder="Kohdeosoite" :disabled="nullOrigin" v-model="destination"/>
                </p>
                <button>Hae reitti</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RouteForm",
        props: {
            origin: Object
        },
        data() {
            return {
                destination: ''
            }
        },
        computed: {
            nullOrigin() {
                return this.origin === null
            }
        },
        methods: {
            confirmDestination() {
                this.$emit('confirmed', this.destination)
            }
        }
    }
</script>

<style scoped>
    #route {
        height: 300px;
        width: 30%;
        float: right;
        background-color: darkslategrey;
        color: white;
        border-top: 1px solid white;
    }

</style>