<template>
    <div id="weather-window">
        <div id="weather">
            <h1>{{weather.name}}</h1>
            <img v-bind:src="'http://openweathermap.org/img/wn/' + this.iconid + '.png' "  />
            <p>Säätila: {{weather.weather[0].description}}</p>
            <p>Lämpötila: {{weather.main.temp}}°C</p>
            <p>Tuntuu kuin: {{weather.main.feels_like}}°C</p>
            <p>Tuuli: {{weather.wind.speed}} m/s</p>

        </div>
    </div>
</template>

<script>
    export default {
        name: "WeatherWindow",
        props: {

        },
        mounted() {
            this.getData();
        },
        data() {
            return {
                api_key: '445392f9e142ef497a09b0a38b0092a3',
                weather: [],
                city: 'Helsinki',
                lang: 'FI',
                iconid: null,
            }
        },
        methods: {
            async getData() {
                const response = await fetch("http://api.openweathermap.org/data/2.5/weather?units=metric&q=" + this.city + "&appid=" + this.api_key + "&lang=" + this.lang);
                const data = await response.json();
                this.weather = data;
                this.iconid = this.weather.weather[0].icon;
            }
        }
    }
</script>

<style scoped>
    #weather {
        height: 300px;
        width: 30%;
        float: right;
        background-color: darkslategrey;
        color: white;
    }
    img {
        height: 10%;
    }

</style>