<template>
  <div id="app">
    <h1>Pääkaupunkiseudun city-pyöräkartta</h1>
    <div id="components">
      <bike-map @popup="changeOrigin" ref="map"/>
      <weather-window/>
      <route-form @confirmed="relayDestination" :origin="origin"/>
    </div>
  </div>
</template>

<script>
import BikeMap from './components/BikeMap.vue'
import WeatherWindow from "@/components/WeatherWindow";
import RouteForm from "@/components/RouteForm";

export default {
  name: 'App',
  components: {
    RouteForm,
    BikeMap,
    WeatherWindow
  },
  data() {
    return {
      origin: null,
    }
  },
  methods: {
    changeOrigin(origin) {
      this.origin = origin
    },
    relayDestination(address) {
      this.$refs.map.setDestination(address)
    },
  },
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: auto;
  width: 90%;
  color: darkslategrey;
}
  #components {
    border: solid 2px darkslategrey;
    height: 600px;
  }
</style>
